{% extends "base.html" %}


{% block body %}
  
<div class="header-bar px-3  pt-4  mx-auto">
  <div class="formclass  mt-4 mb-4 py-4 ">
    <a href="{% url 'home' %}"> <button class="btn btn-dark mb-2 border-success">Go Back</button></a>

    <div  class="card text-white bg-dark mb-3 mt-4 pb-4 pt-4 px-4  border-success border-radius-2 mx-auto " >

  <form action="" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      
      <button type="submit" value="Register" class="btn btn-light border-success hover">Submit</button>
  
  </form>
    </div>
  </div>
</div>




    <!-- <form method="post">
        {{form}}
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
 -->

</div>
</div>
</div>

{% endblock body %} 