{% extends "base.html" %}

{% block body %}
  

<div class="container mt-4  mx-auto ">
    
    <form method="post" class="form-control form-control-sm mx-auto my-4  pt-4 pb-4 px-3 shadow">
        {% csrf_token %}
        <div class="mb-3 mx-auto">
          <label for="exampleInputEmail1" class="form-label">User Name</label>
          <input type="email"  class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password"  class="form-control" id="exampleInputPassword1">
        </div>
        
        <button type="submit" value="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

<div class="container">
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        
        <button type="submit" value="Login" class="btn btn-primary">Submit</button>


    </form>
</div>
{% endblock body %}